replicaCount: 4

image:
  repository: nginx  # Replace with your web service image
  tag: "latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80
# New CronJob configuration
cron:
  schedule: "* * * * *" # Every night at midnight

daemonset:
  resources:
    requests:
      cpu: 200m
      memory: 128Mi
    limits:
      cpu: 200m
      memory: 256Mi